body, html {
	margin: 0;
	padding: 0;
	background-image: url("img/bg.png");
}
#camera {
	height: 40%;
	text-align: center;
}
.tostart {
	width: 50%;
}
.toconfig {
	width: 40%;
	float: right;
}
#controller {
	height: 50%;
}
.hani {
	position: absolute;
}
.cont {
	position: absolute;
}
.start {
	position: absolute;
	top: 50%;
}

@media screen and (min-width: 601px) {
	#camera {
		height: 45%;
		text-align: center;
	}
	.tostart {
		width: auto;
		height: 10%;
	}
	.toconfig {
		width: auto;
		height: 10%;
		float: right;
	}
	#to:after {
		content: "";
		display: block;
		clear: both;
	}
}